<div class="row justify-content-center">
	<div class="col-lg-12 col-md-12">
		<div class="blog-item mb-5">
			<div class="blog-img position-relative">
				<img src="images/blog/blog-1.jpg" alt="" class="img-fluid w-100">
				<a class="blog-category" href="#">Article</a>
			</div>
			<h4 class="mt-4 mb-2"><a href="blog-single.html">Elit duied aiusm tempor did labore dolory</a></h4>
			<div class="post-meta text-uppercase mb-3">
				<a href="#" class="text-color">by admin </a>
				<span class="text-color">/ on 2 Sep, 2018</span>
			</div>
			<p>Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt.mollit anim id est laborum.
				sed ut pers piciatis unde omnis.</p>
		</div>
	</div>
	<div class="col-lg-12 col-md-12">
		<div class="blog-item mb-5 mt-4">
			<div class="blog-img position-relative">
				<img src="images/blog/blog-2.jpg" alt="" class="img-fluid w-100">
				<a class="blog-category" href="#">lifestyle</a>
			</div>
			<h4 class="mt-4 mb-2"><a href="blog-single.html">Elit duied aiusm tempor did labore dolory</a></h4>
			<div class="post-meta text-uppercase mb-3">
				<a href="#" class="text-color">by admin </a>
				<span class="text-color">/ on 2 Sep, 2018</span>
			</div>
			<p>Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt.mollit anim id est laborum.
				sed ut pers piciatis unde omnis.</p>
		</div>
	</div>
	<div class="col-lg-12 col-md-12">
		<div class="blog-item mb-5  mt-4">
			<div class="blog-img position-relative">
				<img src="images/blog/blog-3.jpg" alt="" class="img-fluid w-100">
				<a class="blog-category" href="#">creative</a>
			</div>
			<h4 class="mt-4 mb-2"><a href="blog-single.html">Elit duied aiusm tempor did labore dolory</a></h4>
			<div class="post-meta text-uppercase mb-3">
				<a href="#" class="text-color">by admin </a>
				<span class="text-color">/ on 2 Sep, 2018</span>
			</div>
			<p>Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt.mollit anim id est laborum.
				sed ut pers piciatis unde omnis.</p>
		</div>
	</div>

	<div class="col-lg-12 col-md-12">
		<div class="blog-item mb-5 mt-4">
			<div class="blog-img position-relative">
				<img src="images/blog/blog-1.jpg" alt="" class="img-fluid w-100">
				<a class="blog-category" href="#">Article</a>
			</div>
			<h4 class="mt-4 mb-2"><a href="blog-single.html">Elit duied aiusm tempor did labore dolory</a></h4>
			<div class="post-meta text-uppercase mb-3">
				<a href="#" class="text-color">by admin </a>
				<span class="text-color">/ on 2 Sep, 2018</span>
			</div>
			<p>Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt.mollit anim id est laborum.
				sed ut pers piciatis unde omnis.</p>
		</div>
	</div>

	<div class="col-lg-12 col-md-12">
		<div class="blog-item mb-5 mt-4">
			<div class="blog-img position-relative">
				<img src="images/blog/blog-2.jpg" alt="" class="img-fluid w-100">
				<a class="blog-category" href="#">lifestyle</a>
			</div>
			<h4 class="mt-4 mb-2"><a href="blog-single.html">Elit duied aiusm tempor did labore dolory</a></h4>
			<div class="post-meta text-uppercase mb-3">
				<a href="#" class="text-color">by admin </a>
				<span class="text-color">/ on 2 Sep, 2018</span>
			</div>
			<p>Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt.mollit anim id est laborum.
				sed ut pers piciatis unde omnis.</p>
		</div>
	</div>

	<div class="col-lg-12 col-md-12">
		<div class="blog-item mb-5 mt-4">
			<div class="blog-img position-relative">
				<img src="images/blog/blog-3.jpg" alt="" class="img-fluid w-100">
				<a class="blog-category" href="#">creative</a>
			</div>
			<h4 class="mt-4 mb-2"><a href="blog-single.html">Elit duied aiusm tempor did labore dolory</a></h4>
			<div class="post-meta text-uppercase mb-3">
				<a href="#" class="text-color">by admin </a>
				<span class="text-color">/ on 2 Sep, 2018</span>
			</div>
			<p>Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt.mollit anim id est laborum.
				sed ut pers piciatis unde omnis.</p>
		</div>
	</div>
</div>