<div class="sidebar-widget search-form mb-5">
  <input type="text" class="form-control" placeholder="Search here">
  <i class="ti-search"></i>
</div>



<div class="sidebar-widget cat-list mb-5">
  <h4 class="mb-4">Category</h4>

  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="#">Investment Planning</a></li>
    <li class="list-group-item"><a href="#">Valuable Idea</a></li>
    <li class="list-group-item"><a href="#">Market Strategy</a></li>
    <li class="list-group-item"><a href="#">Development Mapping</a></li>
    <li class="list-group-item"><a href="#">Affiliate Marketing</a></li>
    <li class="list-group-item"><a href="#">Target Marketing</a></li>
  </ul>
</div>


<div class="sidebar-widget article-list mb-5">
  <h4 class="mb-4">Latest Article</h4>

  <div class="media border-bottom py-3">
    <a href="#"><img class="mr-4 " src="images/blog/img-1.jpg" alt=""></a>
    <div class="media-body">
      <h5 class="my-2"><a href="#">Thoughtful living in los Angeles</a></h5>
      <span class="text-sm text-color text-uppercase">Mar 02, 2018</span>
    </div>
  </div>

  <div class="media border-bottom py-3">
    <a href="#"><img class="mr-4 " src="images/blog/img-2.jpg" alt=""></a>
    <div class="media-body">
      <h5 class="my-2"><a href="#">Vivamus molestie gravida turpis.</a></h5>
      <span class="text-sm text-color text-uppercase">Aug 02, 2018</span>
    </div>
  </div>

  <div class="media py-3">
    <a href="#"><img class="mr-4 " src="images/blog/img-3.jpg" alt=""></a>
    <div class="media-body">
      <h5 class="my-2"><a href="#">Fusce lobortis lorem at ipsum semper sagittis</a></h5>
      <span class="text-sm text-color text-uppercase">Apr 02, 2018</span>
    </div>
  </div>
</div>


<div class="sidebar-widget instagram mb-5">
  <h4 class="mb-4">Instagram</h4>

  <div class="insta-item">
    <a href="#"><img src="images/blog/pic-1.jpg" alt="" class="img-fluid"></a>
  </div>
  <div class="insta-item">
    <a href="#"><img src="images/blog/pic-2.jpg" alt="" class="img-fluid"></a>
  </div>
  <div class="insta-item">
    <a href="#"><img src="images/blog/pic-3.jpg" alt="" class="img-fluid"></a>
  </div>
  <div class="insta-item">
    <a href="#"><img src="images/blog/pic-4.jpg" alt="" class="img-fluid"></a>
  </div>
  <div class="insta-item">
    <a href="#"><img src="images/blog/pic-5.jpg" alt="" class="img-fluid"></a>
  </div>
  <div class="insta-item">
    <a href="#"><img src="images/blog/pic-6.jpg" alt="" class="img-fluid"></a>
  </div>
</div>

<div class="sidebar-widget tags">
  <h4 class="mb-4">Tags</h4>

  <a href="#" class="active">Business</a>
  <a href="#">Marketing Analysis</a>
  <a href="#">Consulting</a>
  <a href="#">Marketing</a>
  <a href="#">Social Media</a>
  <a href="#">Branding</a>
</div>