<div class="col-lg-12">
	<div class="blog-single mb-5">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<h3 class="mt-4 mb-2">Elit duied aiusm tempor did labore dolory</h3>
				<div class="post-meta text-uppercase mb-3">
					<a href="#" class="text-color">by admin </a>
					<span class="text-color">/ on 2 Sep, 2018</span>
				</div>
				<p>Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt.mollit anim id est laborum. sed ut pers piciatis unde omnis.</p>
			</div>
		</div>

		<div class="blog-img position-relative mt-5 mb-5">
			<img src="images/blog/blog-single.jpg" alt="" class="img-fluid w-100">
			<a class="blog-category" href="#">lifestyle</a>
		</div>


		<div class="row justify-content-center">
			<div class="col-lg-8">
				<p>Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt mollit anim id est laborum sed pers piciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem ape riam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>

				<h4 class="mb-4 mt-5 font-weight-bold">Aiusm tempor did labore</h4>
				
				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

				<p>Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt.mollit anim id est laborum. sed ut pers piciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam.</p>


				<blockquote class="quote px-5 py-4 position-relative">
					<i class="ti-quote-left"></i>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt labore dolore magna aliqua. enim minim veniam quis nostrud exercitation ullamco.laboris nisi ut aliquip ex ea commodo.</p>
					<div class="mt-2">by <span class="text-color">Michelle Fischer</span></div>
				</blockquote>

				<h4 class="mb-4 mt-5 font-weight-bold">Aiusm tempor did labore</h4>
				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

				<p>Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt.mollit anim id est laborum. sed ut pers piciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam.</p>

				<div class="row align-items-center my-5">
					<div class="col-lg-6">
						<ul class="list-inline post-tags">
							<li class="list-inline-item"><h5>Tags:</h5></li>
							<li class="list-inline-item"><a href="#">Business,</a></li>
							<li class="list-inline-item"><a href="#">Marketing,</a></li>
							<li class="list-inline-item"><a href="#">Finance</a></li>
						</ul>
					</div>
					<div class="col-lg-6">
						<ul class="list-inline post-share text-right">
							<li class="list-inline-item"><h5>Share:</h5></li>
							<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ti-google"></i></a></li>
						</ul>
					</div>
				</div>
				
				<div class="comment-area p-5">
					<h4 class="mb-4 font-weight-bold">Comments 03</h4>

					<div class="media ">
					  <img src="images/blog/author-1.jpg" class="img-fluid mr-4" alt="...">

					  <div class="media-body">
					    <h5 class="mb-0">Carole Marvin.</h5>
						<span class="date-comm  text-muted">15 januray, 2019 at 10.30pm</span>

						<div class="comment-content mt-3">
							<p class="mb-4">Ne erat velit invidunt his. Eum in dicta veniam interesset, harum fuisset te iut nam, ea cum lupta definitionem.</p>
							<a href="#" class="btn btn-solid-border">Reply</a>
						</div>

					   

					    <div class="media mt-5">
					        <img src="images/blog/author-2.jpg" class="img-fluid mr-4" alt="...">
					      <div class="media-body">
					         <h5 class="mb-0">Jaquan Rolfson.</h5>
							<span class="date-comm text-muted">15 januray,2019 at 10.30pm</span>

							<div class="comment-content mt-3">
								<p class="mb-4">Ne erat velit invidunt his. Eum in dicta veniam interesset, harum fuisset te iut nam, ea cum lupta definitionem.</p>
								<a href="#" class="btn btn-solid-border">Reply</a>
							</div>
					    </div>
					  </div>
					</div>
				</div>

				<div class="media mt-4">
				   	<img src="images/blog/author-1.jpg" class="img-fluid mr-4" alt="...">
					  <div class="media-body">
					    <h5 class="mb-0">Philip W</h5>
						<span class="date-comm text-muted">15 januray,2019 at 10.30pm</span>

						<div class="comment-content mt-3">
							<p class="mb-4">Ne erat velit invidunt his. Eum in dicta veniam interesset, harum fuisset te iut nam, ea cum lupta definitionem.</p>
							<a href="#" class="btn btn-solid-border">Reply</a>
						</div>
				  	</div>
				</div>
			</div>

			<hr>
				<div class="comment-form p-3 p-lg-5" >
					<h4 class="mb-4 font-weight-bold">Leave a Comment </h4>
					<form class="comment-form" id="comment-form">
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<input class="form-control" type="text" name="cname" id="name" placeholder="Name*">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<input class="form-control" type="text" name="cmail" id="mail" placeholder="Email*">
								</div>
							</div>

						</div>
						<textarea class="form-control mt-3 mb-4" name="comment" id="comment" cols="30" rows="5" placeholder="Message"></textarea>

						<a href="#" class="btn btn-primary">Submit Message</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>	
