<section class="section-sm counter-section bg-secondary position-relative">
	<img src="images/bg/cta-bg.png" alt="" class="overlay-shape">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="counter-content d-flex mb-5 mb-lg-0">
					<i class="ti-briefcase mr-4"></i>
					<div>
						<h2 class="mb-0"><span class="counter">370</span></h2>
						<p class="text-capitalize mb-0">work completed</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="counter-content d-flex mb-5 mb-lg-0">
					<i class="ti-paint-bucket mr-4"></i>
					<div>
						<h2 class="mb-0"><span class="counter">450</span></h2>
						<p class="text-capitalize mb-0">new projects</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="counter-content d-flex mb-5 mb-lg-0">
					<i class="ti-heart mr-4"></i>
					<div>
						<h2 class="mb-0"><span class="counter">50</span>k+</h2>
						<p class="text-capitalize mb-0">Happy customers</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="counter-content d-flex">
					<i class="ti-cup mr-4"></i>
					<div>
						<h2 class="mb-0"><span class="counter">50</span>+</h2>
						<p class="text-capitalize mb-0">awards win</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>