<section class="section portfolio-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <span class="h5 text-color text-uppercase">
          our works
        </span>
        <h3 class="mb-5 mt-2">A collection of some recently completed projects, covering a wide <span
            class="text-color">range of design disciplines</span></h3>
      </div>
    </div>

    <div class="row justify-content-center align-items-center text-center mb-5">
      <div class="col-12">
        <div class="btn-group btn-group-toggle " data-toggle="buttons">
          <label class="btn border-0 active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All Projects
          </label>
          <label class="btn border-0">
            <input type="radio" name="shuffle-filter" value="design" />UI/UX Design
          </label>
          <label class="btn border-0">
            <input type="radio" name="shuffle-filter" value="branding" />branding
          </label>
          <label class="btn border-0">
            <input type="radio" name="shuffle-filter" value="illustration" />Web Development
          </label>
          <label class="btn border-0">
            <input type="radio" name="shuffle-filter" value="photo" />Photography
          </label>
        </div>
      </div>
    </div>


    <div class="row shuffle-wrapper portfolio-gallery">
      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;design&quot;,&quot;illustration&quot;]">
        <div class="position-relative inner-box">
          <div class="image position-relative ">
            <img src="images/portfolio/p-1.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
            <div class="overlay-box">
              <div class="overlay-inner">
                <a class="overlay-content text-center" href="portfolio-single.html">
                  <h5 class="mb-0 text-white">Painting</h5>
                  <p>Design</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;branding&quot;]">
        <div class="position-relative inner-box">
          <div class="image position-relative ">
            <img src="images/portfolio/p-2.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
            <div class="overlay-box">
              <div class="overlay-inner">
                <a class="overlay-content text-center" href="portfolio-single.html">
                  <h5 class="mb-0 text-white">Web dev</h5>
                  <p>Development</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
        <div class="position-relative inner-box">
          <div class="image position-relative ">
            <img src="images/portfolio/p-3.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
            <div class="overlay-box">
              <div class="overlay-inner">
                <a class="overlay-content text-center" href="portfolio-single.html">
                  <h5 class="mb-0 text-white">Business</h5>
                  <p>Marketing</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-6 mb-4 shuffle-item"
        data-groups="[&quot;design&quot;,&quot;photo&quot;,&quot;branding&quot;]">
        <div class="position-relative inner-box">
          <div class="image position-relative ">
            <img src="images/portfolio/p-4.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
            <div class="overlay-box">
              <div class="overlay-inner">
                <a class="overlay-content text-center" href="portfolio-single.html">
                  <h5 class="mb-0 text-white">Modern app</h5>
                  <p>App dev</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
        <div class="position-relative inner-box">
          <div class="image position-relative ">
            <img src="images/portfolio/p-5.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
            <div class="overlay-box">
              <div class="overlay-inner">
                <a class="overlay-content text-center" href="portfolio-single.html">
                  <h5 class="mb-0 text-white">Artictech</h5>
                  <p>Design</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;design&quot;]">
        <div class="position-relative inner-box">
          <div class="image position-relative ">
            <img src="images/portfolio/p-6.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
            <div class="overlay-box">
              <div class="overlay-inner">
                <a class="overlay-content text-center" href="portfolio-single.html">
                  <h5 class="mb-0 text-white">Painting</h5>
                  <p>Design</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center mt-5">
        <a href="#" class="btn btn-outline-primary">Load More</a>
      </div>
    </div>
  </div>
</section>