<section class="banner position-relative">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-7">
				<div class="banner-content">
					<h2 class="text-white">Design Studio</h2>
					<p class="text-white mt-4 mb-5">Dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna.<br>aliqua enim ad minim veniam quis.</p>

					<a href="#" class="btn btn-secondary">Contact Us</a>
				</div>
			</div>
			<div class="banner-img d-none d-lg-block">
				<img src="images/banner/banner-3.png" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</section>