<section class="banner-2 position-relative bg-blue">
	<img src="images/bg/banner-2.png" alt="" class="overlay-shape">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="banner-content-2">
					<span class="h5 text-uppercase text-yello">MY NAME IS Jessica Alba</span>
					<h2 class="text-white mt-2">I am a creative <br>UI/UX Designer <br>from London.</h2>
					<p class="my-4">Dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna.</p>

					<a href="contact.html" class="btn btn-primary">contact me</a>
				</div>
			</div>

			<div class="col-lg-6 align-self-end">
				<img src="images/banner/banner-img-2.png" alt="" class="img-fluid position-absolute-">
			</div>
		</div>
	</div>
</section>