<section class="team ">
	<div class="container-fluid p-0">
		<div class="row no-gutters">
			<div class="col-lg-3">
				<div class="team-item position-relative">
					<img src="images/team/team-1.jpg" alt="" class="img-fluid w-100">
					<div class="team-overlay-content px-4 py-3">
						<h5 class="mb-0 text-white">Liam Hughes</h5>
						<p>Manager</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="team-item position-relative">
					<img src="images/team/team-2.jpg" alt="" class="img-fluid w-100">
					<div class="team-overlay-content px-4 py-3">
						<h5 class="mb-0 text-white">Liam Hughes</h5>
						<p>Manager</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="team-item position-relative">
					<img src="images/team/team-3.jpg" alt="" class="img-fluid w-100">
					<div class="team-overlay-content px-4 py-3">
						<h5 class="mb-0 text-white">Liam Hughes</h5>
						<p>Manager</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="team-item position-relative">
					<img src="images/team/team-4.jpg" alt="" class="img-fluid w-100">
					<div class="team-overlay-content px-4 py-3">
						<h5 class="mb-0 text-white">Liam Hughes</h5>
						<p>Manager</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>