<section class="section team-2">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<span class="h5 text-color text-uppercase">
					Our Team
				</span>
				<h3 class="mb-5 mt-2">Meet Our Team</h3>
			</div>
		</div>

		<div class="row no-gutters">
			<div class="col-lg-4">
				<div class="team-item position-relative">
					<img src="images/team/team-1.jpg" alt="" class="img-fluid w-100">
					<div class="team-overlay-content px-4 py-3">
						<h5 class="mb-0 text-white">Liam Hughes</h5>
						<p>Manager</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="team-item position-relative">
					<img src="images/team/team-2.jpg" alt="" class="img-fluid w-100">
					<div class="team-overlay-content px-4 py-3">
						<h5 class="mb-0 text-white">Liam Hughes</h5>
						<p>Manager</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="team-item position-relative">
					<img src="images/team/team-3.jpg" alt="" class="img-fluid w-100">
					<div class="team-overlay-content px-4 py-3">
						<h5 class="mb-0 text-white">Liam Hughes</h5>
						<p>Manager</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>