<section class="section testimonial position-relative">
	<div class="h60 bg-testimonial"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<span class="h5 text-color text-uppercase">
					testimonials
				</span>
				<h3 class="mb-5 mt-2">Our Clients Say</h3>
			</div>
		</div>

		<div class="row testimonial-slider">
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4">
					<div class="img-block position-relative mb-4">
						<img src="images/team/test-1.jpg" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna aliqu. enim minim
						veniam.</p>
					<h5 class="mb-0 mt-2">Liam Hughes</h5>
					<span class="text-color">Manager</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4">
					<div class="img-block position-relative mb-4">
						<img src="images/team/test-2.jpg" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna aliqu. enim minim
						veniam.</p>
					<h5 class="mb-0 mt-2">Liam Hughes</h5>
					<span class="text-color">Manager</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4 pattern-bg">
					<div class="img-block position-relative mb-4">
						<img src="images/team/test-3.jpg" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna aliqu. enim minim
						veniam.</p>
					<h5 class="mb-0 mt-2">Liam Hughes</h5>
					<span class="text-color">Manager</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4">
					<div class="img-block position-relative mb-4">
						<img src="images/team/test-1.jpg" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna aliqu. enim minim
						veniam.</p>
					<h5 class="mb-0 mt-2">Liam Hughes</h5>
					<span class="text-color">Manager</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4">
					<div class="img-block position-relative mb-4">
						<img src="images/team/test-2.jpg" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna aliqu. enim minim
						veniam.</p>
					<h5 class="mb-0 mt-2">Liam Hughes</h5>
					<span class="text-color">Manager</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4 pattern-bg">
					<div class="img-block position-relative mb-4">
						<img src="images/team/test-3.jpg" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna aliqu. enim minim
						veniam.</p>
					<h5 class="mb-0 mt-2">Liam Hughes</h5>
					<span class="text-color">Manager</span>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4">
					<div class="img-block position-relative mb-4">
						<img src="images/team/test-1.jpg" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna aliqu. enim minim
						veniam.</p>
					<h5 class="mb-0 mt-2">Liam Hughes</h5>
					<span class="text-color">Manager</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4">
					<div class="img-block position-relative mb-4">
						<img src="images/team/test-2.jpg" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna aliqu. enim minim
						veniam.</p>
					<h5 class="mb-0 mt-2">Liam Hughes</h5>
					<span class="text-color">Manager</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4 pattern-bg">
					<div class="img-block position-relative mb-4">
						<img src="images/team/test-3.jpg" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna aliqu. enim minim
						veniam.</p>
					<h5 class="mb-0 mt-2">Liam Hughes</h5>
					<span class="text-color">Manager</span>
				</div>
			</div>
		</div>
	</div>
</section>